// {
//     "presets": [
//       ["next/babel", {
//         "preset-env": false,
//         "transform-runtime": {},
//         "styled-jsx": {},
//         "class-properties": {}
//       }]
//     ],
//     "plugins": []
//   }

  {
    "presets": ["next/babel"],
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ],
      ["module-resolver", {
        "alias": {
          "dva": "dva-no-router"
        }
      }]
    ]
  }
